@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: nunito sans, sans-serif;
}

div#rc-tabs-3-tab-business {
    color: #424242;
    font-weight: 700;
    font-size: 18px;
}
div#rc-tabs-3-tab-user{
    color: #424242;
    font-weight: 700;
    font-size: 18px;
}

.ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
    background: #062252;
}
div#rc-tabs-1-tab-business {
    color: #424242;
    font-weight: 700;
    font-size: 18px;
}
div#rc-tabs-1-tab-user {
    color: #424242;
    font-weight: 700;
    font-size: 18px;
}

h1.text-4xl.text-\[\#424242\].font-bold.my-4 {
    text-align: center;
}

span.anticon.anticon-down.ant-select-suffix {
    color: black;
    font-size: large;
    font-weight: 800;
}

.bottom-border-only {
    border: none;
    border-bottom: 2px solid #424242; /* Example color */
  }
  
  .bottom-border-only:focus {
    border-bottom-color: #424242; /* Focus color */
    outline: none;
  }
  

  .top-border-only {
    border: none;
    border-top: 2px solid #424242; /* Example color */
  }
  .top-border-only:focus {
    border-top-color: #424242; /* Focus color */
    outline: none;
  }
  

  